<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Quiz</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/magic.js" defer></script>
    <script src="/static/js/musica.js" defer></script>
</head>
<body>

<!-- Música -->
<audio id="bgMusic" loop>
    <source src="/static/audio/hogwarts.mp3" type="audio/mpeg">
    Tu navegador no soporta audio.
</audio>

<!-- Botón música -->
<button id="musicButton" class="music-button">
    🔊 Música ON
</button>

<!-- Fondo -->
<div class="background"></div>

<!-- Niebla -->
<div class="fog fog1"></div>
<div class="fog fog2"></div>

<!-- Partículas -->
<canvas id="magicCanvas"></canvas>

<!-- Contenido -->
<div class="container">
    <h1 class="title">Harry Potter Quiz</h1>
    <p class="subtitle">Descubre tu verdadera casa en Hogwarts</p>
    <a href="/quiz" class="start-button">Comenzar Quiz</a>
    <br><br>
    <a href="/admin/login" class="admin-button">Admin</a>
</div>

</body>
</html>