<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Quiz</title>
    
    <link rel="stylesheet" href="{{ url_for('static', path='css/quiz.css') }}">
    <script src="{{ url_for('static', path='js/quiz.js') }}" defer></script>

</head>
<body>

    <!-- ===================== Navbar ===================== -->
    <div class="navbar">
        <a href="/" class="volver-button"> Volver</a>
    </div>

    <!-- ===================== Formulario ===================== -->
    <form id="quizForm">

        <label for="usuario">Nombre:</label>
        <input type="text" id="usuario" required><br><br>

        <div id="preguntas"></div>

        <button type="submit">Enviar Respuestas</button>

    </form>

    <div id="resultado"></div>

</body>
</html>